<app-toolbar
  [categories]="categoriesSignal()"
  [selectedCategories]="selectedCategoriesSignal()"
  (filterChange)="updateSelectedCategories($event)"
  (filterChange)="refreshVenues()"
  (addVenue)="addVenue($event)"
  (switchView)="switchView($event)"
></app-toolbar>

@if (activeViewSignal() === 'map') {
  <app-map
  [venues]="venuesSignal()"
  (editVenue)="editVenue($event.id, $event.updatedVenue)"
  (deleteVenue)="deleteVenue($event)">
</app-map>
} @else {
  <app-venues-table
  [venues]="venuesSignal()"
  (editVenue)="editVenue($event.id, $event.updatedVenue)"
  (deleteVenue)="deleteVenue($event)"
></app-venues-table>
}


