.mr-4 {
    margin-right: 22px;
}

.mr-2 {
    margin-right: 12px;
}

.img-preview-img {
    max-width: 150px;
    max-height: 150px;
}

p {
    color: white;
};

h2 {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

form {
    overflow: auto;
}

.img-preview {
    margin-left: 265px;
    margin-top: -130px;
}

.actions {
    margin: 18px 0 12px 250px;
    margin-bottom: 12px;
}

.dialog-box {
    margin-left: 32px;
}

.select-message {
    margin-top: 16px;
}

.cust-delete-btn {
    margin-bottom: 12px;
}



