<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-6 position-relative overflow-hidden bg-dark-200 d-none d-lg-block">
      <div class="circle-top"></div>
      <div>
        <img src="/assets/images/logos/logo-icon.svg" class="circle-bottom" alt="Logo-Dark" />
      </div>
      <div class="d-flex align-items-center z-1 position-relative h-n80">
        <div class="row justify-content-center w-100">
          <div class="col-lg-7">
            <h2 class="text-white f-s-40 m-b-16">
              Welcome to <br />
              MaterialM
            </h2>
            <span class="op-75 f-s-16 text-white d-block m-b-16 lh-base">MaterialM helps developers to build organized and well
              <br />
              coded dashboards full of beautiful and rich modules.
            </span>
            <button mat-flat-button color="primary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row p-20 w-100 h-100 align-items-center">
          <div class="col-lg-9 max-width-form">
            <a [routerLink]="['/']">
              <img src="./assets/images/logos/logo-icon.svg" class="align-middle m-2" alt="logo" />
            </a>
            <h4 class="f-w-700 f-s-24 m-t-24 m-b-8">Sign Up</h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8">Your Admin Dashboard</span>

            <div class="row m-t-24">
              <div class="col-6">
                <button mat-stroked-button class="w-100">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                    Google
                  </div>
                </button>
              </div>
              <div class="col-6">
                <button mat-stroked-button class="w-100 d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                    Facebook
                  </div>
                </button>
              </div>
            </div>

            <div class="or-border m-t-30 f-s-16 f-w-500">or Sign Up with</div>

            <div class="register-box">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- Username -->
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" placeholder="Enter your username">
                  <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                    Username is required
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('username')?.hasError('minlength')">
                    Username must be at least 3 characters
                  </mat-error>
                </mat-form-field>

                <!-- Email -->
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Enter your email" type="email">
                  <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                    Please enter a valid email
                  </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" type="password" placeholder="Enter your password">
                  <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
                    Password must be at least 5 characters
                  </mat-error>
                </mat-form-field>

                <!-- Error Message -->
                <div *ngIf="error" class="alert alert-danger">
                  {{ error }}
                </div>

                <!-- Submit Button -->
                <button mat-raised-button color="primary" type="submit" [class.loading]="loading">
                  <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
                  <span *ngIf="!loading">Register</span>
                </button>

                <!-- Login Link -->
                <div class="mt-3">
                  Already have an account? <a routerLink="/login">Login here</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>