<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-6 position-relative overflow-hidden bg-dark-200 d-none d-lg-block">
      <div class="circle-top"></div>
      <div>
        <img src="/assets/images/logos/logo-icon.svg" class="circle-bottom" alt="Logo-Dark" />
      </div>
      <div class="d-flex align-items-center z-1 position-relative h-n80">
        <div class="row justify-content-center w-100">
          <div class="col-lg-7">
            <h2 class="text-white f-s-40 m-b-16 m-t-0">
              Welcome to <br />
              EpicTours
            </h2>
            <span class="op-75 f-s-16 text-white d-block m-b-16 lh-base">EpicTours simplifies artist and event management.<br><br>
                Manage everything from schedules to artists staff, mailing,  all in one platform.
            </span>
            <!-- <button mat-flat-button color="primary">Learn More</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row p-20 w-100 h-100 align-items-center">
          <div class="col-lg-9 max-width-form">
            <!-- <a [routerLink]="['/']">
              <img src="./assets/images/logos/light-logo.svg" class="align-middle m-2" alt="logo" />
            </a> -->
            <h4 class="f-w-700 f-s-24 m-t-24 m-b-8">Sign In</h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8">Your Admin Dashboard</span>

            @if(error) {
              <div class="alert alert-danger m-t-16">
                {{ error }}
              </div>
            }

            <!-- <div class="row m-t-24">
              <div class="col-6">
                <button mat-stroked-button class="w-100">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                    Google
                  </div>
                </button>
              </div>
              <div class="col-6">
                <button mat-stroked-button class="w-100 d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                    Facebook
                  </div>
                </button>
              </div>
            </div>

            <div class="or-border m-t-30 f-s-16 f-w-500">or sign in with</div> -->

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="email" formControlName="email"/>
                @if(f['email'].touched && f['email'].invalid) {
                <mat-error>
                  @if(f['email'].errors?.['required']) {
                  Email is required
                  }
                  @if(f['email'].errors?.['email']) {
                  Please enter a valid email address
                  }
                </mat-error>
                }
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="password"/>
                @if(f['password'].touched && f['password'].invalid) {
                <mat-error>
                  @if(f['password'].errors?.['required']) {
                  Password is required
                  }
                  @if(f['password'].errors?.['minlength']) {
                  Password must be at least 6 characters
                  }
                </mat-error>
                }
              </mat-form-field>

              <div class="d-flex align-items-center m-b-12">
                <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                <a [routerLink]="['/authentication/side-forgot-pwd']"
                  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password ?</a>
              </div>
              <button mat-flat-button color="primary" class="w-100" type="submit">
                @if(loading) {
                  <mat-spinner diameter="20" class="m-r-8"></mat-spinner>
                }
                Sign In
              </button>
              <!-- input -->
            </form>
            <span class="d-block f-w-500 d-block m-t-24">New to EpicTours?
              <a [routerLink]="['/authentication/side-register']"
                class="text-decoration-none text-primary f-w-500 f-s-14">
                Create an account</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>